<div *ngIf="modalOpen" (click)="modalCloser($event)" id="wrapper" class="modal">
    <div class="modalcontent p-1 border-8 flex flex-col">
     
   
        


        
            <div class="w-[200px] h-[250px] flex flex-col justify-center items-center ">
               <div class="w-full flex justify-center items-center text-sky-900 font-bold  ">Edit Details</div>
                <div class=" flex flex-col justify-center items-center w-full h-[150px]" >

                    <input type="text" [(ngModel)]="name" [value]="name" class="w-full p-1 text-sky-700 text-sm hover:h-[30px] transition hover:bg-blue-50 rounded-lg my-1 " >
                    <input [(ngModel)]="city" [value]="city" type="text" class="w-full p-1 text-sky-700 text-sm hover:h-[30px] transition hover:bg-blue-50 rounded-lg my-1 " >
                    <input [(ngModel)]="school" [value]="school" type="text" class="w-full p-1 text-sky-700 text-sm hover:h-[30px] transition hover:bg-blue-50 rounded-lg my-1 " >
                    <input   [(ngModel)]="bio" [value]="bio"  type="text" class="w-full p-1 text-sky-700 text-sm hover:h-[30px] transition hover:bg-blue-50 rounded-lg my-1 " >
                </div>
                    <div (click)="submit()" class=" text-sky-900 rounded-lg px-2 cursor-pointer mb-1 mt-1 font-semibold hover:text-white bg-blue-200 hover:bg-blue-300" >Submit</div>
           </div>
         





    </div>
  </div>
  
